
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHome</title>
</head>
<body>
    <div> 
        Wellcome To The .Net MVC World 
    </div>
</body>
</html>
