@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>
    DataSoft has been a CMMi level 5, ISO 9001:2008 certified leading</br> software product and services company in </br>Bangladesh. Since 1998, DataSoft has successful track record of delivering innovative and cost-effective technical</br> services to customers in both Corporate and public sectors undertakings.
</p>