@model MVCTutorial4.Models.EmployeeViewModel
@{
    ViewBag.Title = "EmployeDetails";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <h5>Employee Details:</h5>
    <table class=" table table-striped " style="width:40%">
        <tr class="list-group">
            <td>Employee Address:</td>
            <td>@Model.Adress</td>
        </tr>
        <tr class="list-group">
            <td>Department Id:</td>
            <td>@Model.DepartmentId</td>
        </tr>

    </table>
</div>

