@model IEnumerable<ShowppingStore.Models.Category>

@{
    ViewBag.Title = "Store";
}

<p>
    Select From @Model.Count();
</p>
<ul>
    @foreach (var category in Model)
    {
    <li>
        @Html.ActionLink(category.Name, "Browser", new{ category = category.Name})
    </li>
    }
</ul>

 