@model EFSECONDFINAL.Models.Student
@{
    ViewBag.Title = "UUpdate";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
      update

    </div>
</body>
</html>

